{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{deps, [
	{cowboy, "2.4.0", {git, "git://github.com/extend/cowboy.git", {tag, "2.4.0"}}},
	{erlydtl, "0.12.2", {git, "git://github.com/jxub/erlydtl.git",  {tag, "0.12.2"}}},
	{mimetypes, "1.1.1", {git, "git://github.com/jxub/mimetypes.git", {tag, "1.1.1"}}}
]}.

{erlydtl_opts, [
	{source_ext, ".dtl"},
	{compiler_options, [debug_info]}
]}.
