{erl_opts, [debug_info]}.
{erlydtl_opts, [{compiler_options, [debug_info]}]}.
{lib_dirs, ["deps"]}.
{deps, [
	{cowboy, "0.6.1", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
	{erlydtl, "0.7.0", {git, "git://github.com/evanmiller/erlydtl.git",  "f5b3d31"}},
	{mimetypes, "e9dfab5", {git, "git://github.com/spawngrid/mimetypes.git", "e9dfab5"}}
]}.
