{lib_dirs, ["deps"]}.
{deps, [
	{cowboy, "0.8.*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
	{erlydtl, "0.7.0", {git, "git://github.com/evanmiller/erlydtl.git",  "dda4db0"}},
	{mimetypes, "1.0", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}}
]}.

{erlydtl_opts, [
	{source_ext, ".dtl"}
]}.
